<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/Bootstrap.php"
         haltOnError="true"
         haltOnFailure="true"
         colors="true"
         checkForUnintentionallyCoveredCode="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">
    
    <testsuites>
        <testsuite name="ZF2 Current Route helper">
            <directory>./test/CurrentRouteTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>